/* Navbar */
/*modified by Javier*/
.modifiedcustom{
    padding: 0;
    margin: 0;
    height: 70px;
    align-items: center;
    text-align: center;
    
}
/*modified by Javier*/


/*modified by Javier*/
.modifiedcustom2{
    padding: 0;
    text-align: center;
    
}
/*modified by Javier*/


.nav-wrapper{
    background-color: #9B0000;
    padding-bottom: 10px;

}

.fnavbar{
    margin: 10px ;
    background-color: #9B0000;
}

.navbar-right{
    padding:0px;
    margin: 0px;
    border: 0px;

}

.material-icons{
    display: inline;

}

.navbar-main{
    padding-bottom: 75px;
    background-color: #9B0000;
}

/* Search box */

.container3{
    margin: 10px;
    width: 200px;
}

button{
    padding: 5px 12px;
}

button:active{
    background:#C15050;
}

button:focus{
    background:#C15050;
}


/* Dropdown */

ul{
    list-style:none;
    background:#9B0000;
}

ul li{
    display:inline-block;
    position:relative;
}

ul li a{
    display:block;
    padding:10px 30px;
    color:#FFF;
    text-decoration:none;
    text-align:center;
    font-size:17px;
}

ul li ul.dropdown li{
    display:block;
}
        
ul li ul.dropdown{
    width:100%;
    background:#650101; 
    position:absolute;
    display:none;
}

ul li a:hover{
    background:#650101;
}
        
ul li:hover ul.dropdown{
    display:block;
}

/* Body */
*{
    margin:0;
    padding:0;
}
/* Carousel */
.cell{
    width: 33%;
    height: 350px;
    margin:0 15px;
    overflow: hidden;
    border-radius: 8px;
}

.cell img{
    width:100%;
    height: 350px;
    object-fit: cover;
}

.main-carousel{
    padding-top:50px ;
}

/* Image on cards */
.activator{
    width: 30%;
    height: 100%;
    
}

.container2 {
    padding: 40px 500px 30px 40px;
   
 }
 /* first text */

 .text{
     margin-top: 40px ;
     text-align: left;
 }

 /* First picture */

 .picture {
     margin-top: 40px ;
 }

 /* Footer */

 .footer-one{
     background: #9B0000;
 }

